html,
body {
    margin : 0;
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
}

.buttons-container {
    display              : grid;
    grid-template-columns: auto auto auto;
    grid-gap             : 10px;
}

#display {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end  : 4;
    text-align: right;
}

.button {
    padding         : 20px;
    background-color: #555555;
    color           : white;
    border          : none;
}

#equals {
    grid-column-start: 3;
    grid-row-start   : 6;
    grid-row-end     : 8;
}